body {
    background-color: darkgrey;
}

div {
    color: white
}

input {
    color: black;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

h1 {
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul li {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    border: 1px solid beige;
    padding: 5px;
    margin-left: 200px;
    margin-right: 200px;
}
